@{
    ViewBag.Title = "采购处理";
    Layout = "~/Views/Shared/_LayoutSysManager.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        采购处理
    </div>
</body>
</html>
